/**************************/
/* HEADER */
/**************************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(128, 255, 219, 0.2);
    height: 5rem;
    padding: 3rem 7rem;
    position: relative;
    font-size: 1rem;
}
  
  .logo {
    height: 4rem;
  }
  
  /**************************/
  /* NAVIGATION */
  /**************************/
  .main-nav-link{
      
    color: #6776FF;
  }
  select{
      background: none;
      outline: none;
      border: none;
      font-size: 1rem;
      font-family: inherit;
      color: #6776FF;
      
  }
  .main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  /* MOBILE */
  .btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
  
    display: none;
  }

  @media (max-width: 1024px) {
    .header {
        padding: 2rem;
    }
  }
  @media (max-width: 768px) {
    .header{
      font-size: 1.5rem;
    }
    select {
      font-size: 1.5rem;
    }
    #programs{
      padding-right: 3rem;
    }
    #projects{
      padding-right: 1.2rem;
    }
    #jobs{
      padding-right:6.3rem;
    }
    .header-mobile{
      background: #fff;
    }
    .btn-mobile-nav {
        display: block;
    }
    .main-nav{
        position: absolute;
        top: 5rem;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        padding: 2rem;
        transition: all 0.1s ease-in;
        opacity: 0;
        visibility: hidden;
        background-color: #fff;
        transform: translateY(-100%);
    }
    .main-nav-link.text{
      padding-left:3px;
    }
    .main-nav.active{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: all 0.1s ease-in-out;
        z-index: 3;
    }
    .main-nav-list{
        flex-direction: column;
        align-items:flex-start;
        text-align: left;
    }

  }